/* .fa-user{
    color: white;
    font-size: 40px;
} */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
body{
    font-family: "Nunito Sans", sans-serif;
 } 
 p{
    font-family: "Nunito Sans", sans-serif;
 }
 
@media(min-width:320px)and(max-width:767px){
    #me{width:100% ;}
    .navbar{width:100% ;}
    Html{font: size 16px;}
  }
  
  
  